<section class="mx-2 mb-4">
    <!-- sidebar section 1 starts -->
    <ul class="list-unstyled sidebar-list list-1" >
        <li>
            <%= link_to '#', class: "text-decoration-none text-dark py-1 ps-3 pe-5 rounded-3 d-block", style: "width: auto" do %>
                <i class="bi bi-house-door me-3 fs-5"></i>
                Home
            <% end %>
        </li>

        <li>
            <%= link_to user_subs_path(current_user.username), class: "text-decoration-none text-dark py-1 ps-3 pe-5 rounded-3 d-block #{ 'bg-secondary-subtle' if controller_name == 'profiles' && action_name == 'user_subscriptions'}", style: "width: auto" do %>
                <i class="bi bi-collection-play me-3 fs-5"></i>
                Subscriptions
            <% end %>
        </li>

    </ul>
    <!-- sidebar section 1 end -->

    <!-- sidebar section 2 starts -->
    <ul class="list-unstyled sidebar-list list-2" >
        <hr class="my-3">

        <li>
            <%= link_to library_path, class: "text-decoration-none text-dark py-1 ps-3 pe-5 rounded-3 d-block #{ 'bg-secondary-subtle' if controller_name == 'profiles' && action_name == 'library'}", style: "width: auto" do %>
                <i class="bi bi-collection me-3 fs-5"></i>
                Library
            <% end %>
        </li>

        <li>
            <%= link_to history_path, class: "text-decoration-none text-dark py-1 ps-3 pe-5 rounded-3 d-block #{ 'bg-secondary-subtle' if controller_name == 'profiles' && action_name == 'history'}", style: "width: auto" do %>
                <i class="bi bi-clock-history me-3 fs-5"></i>
                History
            <% end %>
        </li>

        <li>
            <%= link_to profile_path(current_user.username), class: "text-decoration-none text-dark py-1 ps-3 pe-5 rounded-3 d-block #{ 'bg-secondary-subtle' if controller_name == 'profiles' && action_name == 'show'}", style: "width: auto" do %>
                <i class="bi bi-file-music me-3 fs-5"></i>
                Your channels
            <% end %>
        </li>

        <li>
            <%= link_to '#', class: "text-decoration-none text-dark py-1 ps-3 pe-5 rounded-3 d-block", style: "width: auto" do %>
                <i class="bi bi-clock me-3 fs-5"></i>
                Watch later
            <% end %>
        </li>

        <li>
            <%= link_to user_likes_path(current_user.username), class: "text-decoration-none text-dark py-1 ps-3 pe-5 rounded-3 d-block #{ 'bg-secondary-subtle' if controller_name == 'profiles' && action_name == 'user_likes'}", style: "width: auto" do %>
                <i class="bi bi-heart me-3 fs-5"></i>
                Liked episodes
            <% end %>
        </li>
    </ul>
    <!-- sidebar section 2 ends -->

    <!-- sidebar subscriptions section starts -->
    <ul class="list-unstyled sidebar-list list-3" >

        <hr class="my-3">

        <h6 class="text-dark py-1 ps-3 pe-5 rounded-3 d-block fw-bold" style="width:auto">Subscriptions</h6>
        <% current_user.subscribed_channels.each do |channel| %>
            <li>
                <%= link_to channel, class: "text-decoration-none text-dark py-1 ps-3 pe-5 rounded-3 d-block", style: "width: auto" do %>
                    <%= image_tag(channel.avatar, style: "height: 30px; width: 30px", class: "rounded-circle me-3 my-1") %>
                    <%= channel.name.truncate(17) %>
                <% end %>
            </li>
        <% end %>
        
        <li>
            <%= link_to user_subs_path(current_user.username), class: "text-decoration-none text-dark py-1 ps-3 pe-5 rounded-3 d-block", style: "width: auto" do %>
                <i class="bi bi-chevron-down me-3 fs-5"></i>
                Show more
            <% end %>
        </li>
    </ul>
    <!-- sidebar subscriptions section end -->

    <!-- sidebar explore section starts -->

    <ul class="list-unstyled sidebar-list list-4" >

        <hr class="my-3">

        <h6 class="text-dark py-1 ps-3 pe-5 d-block fw-bold">Explore</h6>

        <li>
            <%= link_to channels_path, class: "text-decoration-none text-dark py-1 ps-3 pe-5 rounded-3 d-block #{ 'bg-secondary-subtle' if controller_name == 'channels' && action_name == 'index'}", style: "width: auto" do %>
                <i class="bi bi-table me-3 fs-5"></i>
                All channels
            <% end %>
        </li>

        <li>
            <%= link_to trending_path, class: "text-decoration-none text-dark py-1 ps-3 pe-5 rounded-3 d-block #{ 'bg-secondary-subtle' if controller_name == 'profiles' && action_name == 'trending'}", style: "width: auto" do %>
                <i class="bi bi-fire me-3 fs-5"></i>
                Trending
            <% end %>
        </li>

        <li>
            <%= link_to '#', class: "text-decoration-none text-dark py-1 ps-3 pe-5 rounded-3 d-block", style: "width: auto" do %>
                <i class="bi bi-tags me-3 fs-5"></i>
                Tags
            <% end %>
        </li>

    </ul>

    <!-- sidebar explore section ends -->
</section>

