<% provide(:title, @user.username) %>

<div class="row">
    <div class="col-md-3">
        <ul>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
            <li>list</li>
        </ul>
    </div>

    <div class="col-md-9">
        <div>
            <%= @user.cover_image.attached if @user.cover_image.present? %>
        </div>

        <div>
            <%= @user.avatar.attached if @user.avatar.present? %>
        </div>

        <h1><%= @channel.name %></h1>
        <p><%= @channel.subscribed_users.count %></p>
        <p><%= @channel.episodes.count %></p>
        <p><%= @channel.episodes.count %></p>
        <p><%= @channel.description %></p>
        <% if @user == current_user %>
            <p><%= link_to 'Edit profile', '#', class: "btn btn-sm btn-success rounded rounded-5" %></p>
        <% else %>
            <p><%= render 'subscriptions/subscription_button', subscribable: @channel %></p>
        <% end %>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="profileEditModal" tabindex="-1" aria-labelledby="profileEditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close mx-0 close-modal-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: current_user, url: profile_path, data: { controller: 'tweet-form' }, class: "row g-3", locals: true, method: :put do |f| %>
            <form class="row g-3">
                <div class="col-md-12">
                    <%= f.label :username, class: "form-label" %>
                    <%= f.text_field :username, class: "form-control" %>
                </div>
                <div class="col-md-12">
                    <%= f.label :display_name, class: "form-label" %>
                    <%= f.text_field :display_name, class: "form-control" %>
                </div>
                <div class="col-md-12">
                    <%= f.label :avatar, class: "form-label" %>
                    <%= f.file_field :avatar, class: "form-control" %>
                </div>
                <div class="col-md-12">
                    <%= f.label :email, class: "form-label" %>
                    <%= f.email_field :email, class: "form-control" %>
                </div>
                <div class="col-md-12">
                    <%= f.label :bio, class: "form-label" %>
                    <%= f.text_area :bio, class: "form-control" %>
                </div>
                <div class="col-md-12">
                    <%= f.label :location, class: "form-label" %>
                    <%= f.text_field :location, class: "form-control" %>
                </div>
                <div class="col-md-12">
                    <%= f.label :profile_url, "URL", class: "form-label" %>
                    <%= f.text_field :profile_url, class: "form-control" %>
                </div>

                <div class="col-md-12">
                    <%= f.submit "Update profile", class: "btn btn-twitter rounded-pill" %>
                </div>
            </form>      
        <% end %>  
      </div>
    </div>
  </div>
</div>
