<div id="like_button">
    <% if user_signed_in? %>

        <% like = current_user.likes.find_by(likeable: likeable) %>

        <% if like.nil? %>

            <%= form_with model: [Like.new], method: :post do |f| %>
                <%= f.hidden_field :likeable_id, value: likeable.id %>
                <%= f.hidden_field :likeable_type, value: likeable.class.to_s %>
                
                <%= f.button class: "btn btn-sm btn-light border" do %>
                    <i class="fa-regular fa-heart"></i>
                    Add to likes (<%= likeable.likes_count %>)
                <% end %>
            <% end %>
        <% else %>
            <%= form_with url: like_path(like), method: :delete do |f| %>
                
                <%= f.button class: "btn btn-sm btn-dark" do %>
                    <i class="fa-solid fa-heart"></i>
                    Remove from likes (<%= likeable.likes_count %>)
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</div>
