<%= form_with model: [channel, episode] do |f| %>
    <%= render 'layouts/errors', f: f %>

    <div class="mb-3">
        <strong><%= f.label :title %></strong>
        <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
        <strong><%= f.label :description %></strong>
        <%= f.text_area :description, class: "form-control rounded",
                            placeholder: "Episode description" %>
    </div>

    <div class="mb-3" data-controller="tom-select">
        <h5><%= f.label :tags, class: "form-label" %></h5>
        <%= f.select :tag_ids, Tag.all.pluck(:name, :id), {}, { multiple: true, id: "select-tags" } %>
    </div>

    <div class="mb-3" data-controller="tom-select-playlist">
        <h5><%= f.label :playlists, class: "form-label" %></h5>
        <%= f.select :playlist_ids, current_user.playlists.pluck(:name, :id), {}, { multiple: true, id: "select-playlists" } %>
    </div>

    <div class="actions">
        <%= f.submit "Upload episode", class: "btn btn-dark" %>
        <% if !(f.object.new_record?) %>
            <%= link_to "Cancel", channel_episode_path(@channel, @episode), class: "btn btn-light border" %>
        <% else %>
            <%= link_to "Cancel", channel_path(@channel), class: "btn btn-light border" %>
        <% end %>
    </div>
<% end %>
