<%= form_with model: [@channel, @episode] do |f| %>

    <%= render 'layouts/errors', f: f %>

    <div class="mb-3" data-controller="tom-select-playlist">
        <h6><%= f.label :Select_playlists, class: "form-label" %></h6>
        <%= f.select :playlist_ids, user.playlists.pluck(:name, :id), {}, { multiple: true, id: "select-playlists" } %>
    </div>

    <div class="mb-3">
        <p><%= link_to "Create new playlist", '#' %></p>
    </div>

    <div class="mb-3">
        <%= f.button "Save", class: "btn btn-success btn-sm" %>
        <button type="button" class="btn btn-light border btn-sm" data-bs-dismiss="modal">Cancel</button>
    </div>
<% end %>