<% provide(:title, @episode.title) %>

<h1><%= @episode .title %></h1>

<%= @episode.description %>

<hr>

<% unless @episode.tags.blank? %>
    <% @episode.tags.each do |tag| %>
        <p><%= tag.name %></p>
    <% end %>
<% end %>

<hr>

<% unless @episode.playlists.blank? %>
    <% @episode.playlists.each do |playlist| %>
        <p><%= playlist.name %></p>
    <% end %>
<% end %>

<%= render 'likes/like_button', likeable: @episode %>
