<% provide(:title, @episode.title) %>

<div class="container py-4" style="max-width: 97vw">
  <div class="row">
    <div class="col-md-8">
      <!-- episode image and player -->
      <div class="position-relative">
        <% if @episode.image.attached? %>
          <%= image_tag(@episode.image, class: "img-fluid rounded rounded-4") %>
        <% else %>
          <%= image_tag('default-episode-image.jpg', class: "img-fluid rounded rounded-4") %>
        <% end %>
        <%= content_tag(:div, "", class: "container shk position-absolute bottom-0 start-50 translate-middle", data: {
          controller: "podcast", 
          podcast_title: @episode.title,
          podcast_url: url_for(@episode.audio),
          podcast_artist: @episode.user.username,
          podcast_cover: url_for(@channel.cover_image)
        }) %>
      </div>
      <!-- episode image and player ends -->
      
      <!-- episode title and actions -->
      <div class="metadata my-3">
        <h1 class="fs-5 fw-bold"><%= @episode .title %></h1>
        <div class="d-flex align-items-center">
          <div class="d-flex mt-1 align-items-center">

            <div class="d-flex">
              <%= link_to image_tag(@channel.avatar, size: "50x50", class: "rounded-circle rounded-circle border border-dark border-2", alt: "Episode channel", title: "Episode channel"), @channel %>
              <div class="align-self-end" style="margin-left: -23px;">
                <%= link_to image_tag('avatar.jpg', size: "30x30", class: "rounded-circle border border-warning border-2", alt: "Channel user", title: "Channel owner"), '#' %>
              </div>
            </div>

            <div class="ms-2 mt-3">
              <div><%= link_to @channel.name, @channel, class: "text-dark text-decoration-none mb-0 pb-0" %></div>
              <p class="text-secondary"><small><%= pluralize(number_with_delimiter(@channel.subscribed_users.count), 'subscriber') %></small></p>
            </div>

            <div class="ms-2"><%= render 'subscriptions/subscription_button', subscribable: @channel if user_signed_in? && @episode.user != current_user %></div>

          </div>

          <div class="d-flex ms-auto">

            <div><%= render 'likes/like_button', likeable: @episode %></div>

            <div class="ms-2">
              <%= link_to '#', class: "btn btn-light border rounded-5" do %>
                <i class="bi bi-share"></i>
                Share
              <% end %>
            </div>

            <div class="ms-2">
              <%= link_to rails_blob_path(@episode.audio, disposition: 'attachment'), class: "btn btn-light border rounded-5" do %>
                <i class="bi bi-download"></i>
                Download
              <% end %>
            </div>

            <div class="ms-2">
              <%= link_to '#', class: "btn btn-light border rounded-5", type: "button", data: { "bs-toggle": "modal", "bs-target": "#saveEpisodeModal" } do %>
                <i class="bi bi-folder-plus"></i>
                Save
              <% end %>
            </div>
          </div>
        </div>
        <!-- episode title and actions end -->

        <!-- description box -->
        <div class="description-box p-3 rounded-4" style="background: #f5f5f5;">
          <%= pluralize(number_with_delimiter(20000), 'listen') %> •
          <%= time_ago_in_words(@episode.created_at) %> ago
          <div class="description mb-3">
            <%= @episode.description.truncate(390) %>
          </div>
          
          <!-- episode tags -->
          <% unless @episode.tags.blank? %>
            Tags: 
            <% @episode.tags.each do |tag| %>
              <%= link_to '#', class: "my-2 text-decoration-none" do %>
                #<%= tag.name %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <!-- description box ends -->
        
        <!-- episode tags end -->

        <!-- comments section -->
        <section class="comments mt-3">
          <div class="header">
            <%= pluralize(number_with_delimiter(@episode.comments.count, delimiter: ","), 'comment') %>

            <!-- comments filter -->
            <span class="dropdown">
              <button class="btn btn-transparent" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-filter-left"></i>
                Sort by
              </button>
              <ul class="dropdown-menu dropdown-menu">
                <li><a class="dropdown-item active" href="#">Top comments</a></li>
                <li><a class="dropdown-item" href="#">Newest first</a></li>
              </ul>
            </div>
          </span>
          <!-- comments filter ends -->

          <!--comments form-->
          <div class="d-flex mt-3">
            <div class="me-3" style="width: 45px; height: 45px;"><%= image_tag(current_user.avatar, class: "img-fluid rounded-circle") if current_user.avatar.attached? %></div>
            <div class="w-100">
              <%= render partial: 'comments/form', locals: { commentable: @episode, comment: @comment, parent: nil, channel: @commentable.channel } %>
            </div>
          </div>
          <!-- comments form ends -->

          <!-- indivual comment -->
          <%= render @episode.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>
          <!-- indivual comment ends -->

        </section>
        <!-- comments section ends -->
      </div>
    </div>

    <!-- Episode show page sidebar -->
    <div class="col-md-4">
      <aside class="epsiode-sidebar">
        <!-- sidebar tags -->
        <div>
          <%= link_to  '#', class: "btn btn-sm btn-light border active rounded-3 me-2" do %>
            From <%= @channel.name %>
          <% end %>
          <%= link_to 'Related', related_episodes_path(@channel, @episode), class: "btn btn-sm rounded-3 btn-light border me-2" %>
        </div>
        <!-- sidebar scrollable tags end -->

        <!-- List of other episodes from channel (10) -->
        <div class="mt-3">
          <% if action_name == 'show' %>
            <%= render 'other_episodes_from_channel' %>
          <% else %>
            bcdkbcd
          <% end %>
        </div>
        <!-- list of other episodes from channel ends -->
        
      </aside>
    </div>
  </div>
</div>

<%= render 'save_episode_modal' %>