<% provide(:title, @episode.title) %>

<div class="container" style="max-width: 97vw">
  <div class="row">
    <div class="col-md-8">

      <div class="position-relative">
        <%= image_tag(@episode.image, class: "img-fluid rounded rounded-4") %>
        <%= content_tag(:div, "", class: "container shk position-absolute bottom-0 start-50 translate-middle", data: {
          controller: "podcast", 
          podcast_title: @episode.title,
          podcast_url: url_for(@episode.audio),
          podcast_artist: @episode.user.username,
          podcast_cover: url_for(@episode.image)
        }) %>
      </div>


      <h1><%= @episode .title %></h1>
      <p>posted by: <%= @episode.user.username %></p>

      <%= @episode.description %>

      <hr>

      <% unless @episode.tags.blank? %>
          <% @episode.tags.each do |tag| %>
              <p><%= tag.name %></p>
          <% end %>
      <% end %>

      <hr>

      <% unless @episode.playlists.blank? %>
          <% @episode.playlists.each do |playlist| %>
              <p><%= playlist.name.capitalize %></p>
          <% end %>
      <% end %>

      <%= render 'likes/like_button', likeable: @episode %>

      <hr>

      <% if user_signed_in? %>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Save to playlist
        </button>
      <% end %>

      <div class="m-2">
        <%= render @episode.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>
      </div>
      <%= render partial: 'comments/form', locals: { commentable: @episode, comment: @comment, parent: nil, channel: @commentable.channel } %>
    </div>

    <div class="col-md-4">
    </div>
  </div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Save episode to...</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'save_to_playlist', channel: @channel, episode: @episode, user: current_user if user_signed_in? %>
        </div>
      </div>
    </div>
  </div>
