<div id="subscription_button">
    <% if user_signed_in? %>

        <% subscription = current_user.subscriptions.find_by(subscribable: subscribable) %>

        <% if subscription.nil? %>

            <%= form_with model: [Subscription.new], method: :post do |f| %>
                <%= f.hidden_field :subscribable_id, value: subscribable.id %>
                <%= f.hidden_field :subscribable_type, value: subscribable.class.to_s %>
                
                <%= f.button class: "btn btn-light rounded-5 border" do %>
                    Subscribe
                <% end %>
            <% end %>
        <% else %>
            <%= form_with url: subscription_path(subscription), method: :delete do |f| %>
                
                <%= f.button class: "btn btn-dark rounded-5" do %>
                    Unsubscribe
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</div>
