<nav class="navbar navbar-expand-lg navbar-light py-2">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand fw-bold" do %>
      <i class="fa-solid fa-podcast"></i>
      PODCAST WEB
    <% end %>
    <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# Offcanvas %>

    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

    <%# Sidebar header %>

      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
        <button 
            type="button" 
            class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" 
            aria-label="Close"
        ></button>
      </div>

      <%# Sidebar body %>
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
        <ul class="navbar-nav justify-content-center align-items-center flex-grow-1 pe-3 fs-6 fw-bold">
          <li class="nav-item w-75">
            <div class="input-group">
              <input type="text" class="form-control form-control-lg rounded-start-5" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary rounded-end-5 px-4" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass fs-5"></i></button>
            </div>
          </li>
        </ul>

        <%# Login/signup %>

        <div class="d-flex flex-lg-row flex-column justify-content-center align-items-center gap-3">
            <%= link_to '#', class: "nav-link" do %>
              <div class="position-relative mt-3 me-3">
                <i class="fa-regular fa-bell fs-4"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary border border-light">
                  11
                  <span class="visually-hidden">Notification count</span>
                </span>
              </div>
            <% end %>

            <% if user_signed_in? %>
              
              <div class=" mt-1">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <% if current_user.avatar.attached? %>
                    <%= image_tag(current_user.avatar, size: "35x35", style: "border-radius: 999px;") %>
                  <% else %>
                    <%= image_tag('default-avatar.png', size: "35x35", style: "border-radius: 999px;") %>
                  <% end %>
                </a>
                <ul class="dropdown-menu dropdown-menu-end rounded-0">
                  <%= link_to 'Your channel', '#', class: "dropdown-item" %>
                  <%= link_to 'Settings', '#', class: "dropdown-item" %>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
              </div>
              <%#= link_to "Logout", destroy_user_session_path, data: { "turbo-method": :delete }, class: "btn btn-sm btn-secondary" %>
            <% else %>
              <%= link_to "Signup", new_user_registration_path %>
              <%= link_to "Login", new_user_session_path, class: "btn btn-dark rounded-5" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>